.modal{
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%; 
    height: 80%;
    

}
.modal-content > .modal-header{
    height:15%;
    padding:10px;
   
}
.modal-header > .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
   }
 
  .modal-header > .close:hover,
  .modal-header > .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
 
.modal-content > .modal-body{
    height:85%;
    padding: 10px;
}
.modal-content > .modal-body > form{
    height: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.modal-content > .modal-body > form > label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.modal-content > .modal-body > form > input[type="text"]{
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd; 
}

.modal-content > .modal-body > form > button{
    padding: 10px 20px;
    background-color: #008CBA;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer; 
}
.modal-content > .modal-body > form > div{
    
}
.modal-content > .modal-body > form > div > input{
    margin: 5px 10px 5px 0;
    padding: 10px;
    width:100%;
    background-color: #fff;
    border: 1px solid #ddd; 
}
.modal-content > .modal-body > form > div > textarea{
    margin: 5px 10px 5px 0;
    padding: 10px;
    width:100%;
    color:#111;
    background-color: #fff;
    border: 1px solid #ddd; 
}
.modal-content > .modal-body > form > div > button{
    padding: 10px 20px;
    background-color: #008CBA;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer; 
    transition: width 0.2s;
}
.modal-content > .modal-body > form > div > button:hover{
    width:50%;
}

.car-container{
    background-color: white;

}
.car-container > .car{
    background-color: white;

}
.car-container > .car >.car-description{
   padding: 10px;
}
.car-container > .car >.car-description > span{
    display: block;
    height:35px;
    padding: 2px;
    font-size: 20px;
}
.car-container > .car >.car-links{
   padding: 10px;
}
.car-container > .car >.car-links > .buyer-links > a{
    
    display: block;
    height:35px;
    padding: 2px;
    font-size: 20px;
}
.car-container > .car >.car-links > .seller-links > a{
  
    display: block;
    height:35px;
    padding: 2px;
    font-size: 20px;
}
.car-container > .car >.car-links > .seller-links > a:hover,
.car-container > .car >.car-links > .buyer-links > a:hover{
    text-decoration: none;
}

.errors{
    position: fixed;
    top:0px;
    width:100%;
    height:150px;
    background-color: red;
    z-index: 20;
    display: none;
}


.success{
    position: fixed;
    top:0px;
    width:100%;
    height:100px;
    background-color: green;
    z-index: 20;
    display: none;
}
