@media screen and (max-width: 950px) {
    .container > .main > .main-left{
        position: absolute;
        top:0px;
        height:20%;
        width:100%;
        padding: 20px;
        background-color: whitesmoke;
    
    } 
    .container > .main > .main-left >.user{
        width:100%;
        background-color: white;
    
    }
    .container > .main > .main-left >.user > .user-photo{
        padding: 5px;
     
    }
    .container > .main > .main-left >.user > .user-photo > h3{
        margin:10px 0px 0px 0px;
        text-align: center;
        color: #008CBA;
    
    
    }
    .container > .main > .main-left >.user > .user-photo > img{
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    .container > .main > .main-left >.user > .nav{
        
    }
    .container > .main > .main-left >.user > .nav > a{
        
        display: inline-block;
        text-align: center;
        color:#008CBA;
        width:24%;
        padding-top: 5px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        height:50px;
    }
    .container > .main > .main-left >.user > .nav > a:hover{
        text-decoration: underline;
        
    }
    .container > .main > .main-right{
        position: absolute;
        top:20%;
        padding: 20px;
        height:80%;
        width:100%;
        background-color: whitesmoke;
    
    } 
    .container > .main > .main-right > .right-container{
        background-color: whitesmoke;
    
    }
    .container > .main > .main-right > .right-container > .container-description{
        margin-bottom: 10px;
        background-color: white;
        height:50px;
    
    }
    .container > .main > .main-right > .right-container > .container-description > h4{
        text-align: center;
        margin: 0px;
        color: #008CBA;
    
    }
    .container > .main > .main-right > .right-container >.container-list{
        
    }
    
    .container > .main > .main-right > .right-container >.container-list > .ad{
        height: 100px;
        max-width:100%;
        margin:10px 0px 10px 0px;
        position: relative;
        background: white;
            
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right{
        position: absolute;
        right:0px;
        width:79%;
        height:100%;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details{
        height:50px;
        padding-top: 10px;
        position: relative;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span{
        display: inline-block;
        height: 100%;
        margin-right: 10px;
        position: absolute;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span.left{
        left:0px;
        height:30px;
        width:100px;
        text-align: center;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span.right{
        right:0px;
        height:30px;
        text-align: center;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span.middle{
        height:30px;
        left:100px;
        text-align: center;
        
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links{
        height:50px;
        position: relative;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.right{
        display: inline-block;
        position: absolute;
        right:0px;
        width:100px;
        height:50px;
        padding-top: 15px;
        border: none;
        margin-right: 10px;
        text-align: center;
        color:#008CBA;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.left{
        display: inline-block;
        position: absolute;
        left:0px;
        border: none;
        width:150px;
        padding-top: 15px;
        height:50px;
        margin-right: 10px;
        text-align: center;
        color: #008CBA;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }
    .container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.left:hover,
    .container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.right:hover{
        text-decoration: underline;
        
    }
    .container > .main > .main-right > .right-container >.container-list >.ad > .left{
        position: absolute;
        left:0px;
        width:21%;
    }
  }    