*{
    box-sizing: border-box;
}
html {
   -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;

}
body{
    background-color:white ;
    margin: 0;
    padding: 0px;
    height:1200px;
    width:100%;
    background-color:whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
    height: 100%;
    width:100%;
    position: relative;
}
.container > .filters{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 10;
    top:0px;
    left:0px;
    bottom: 0px;
    background-color:#008CBA ;
    color:white;
    transition: 0.5s;
    display: none;
    
    
 }
.container > .filters >.nav{
    width:100%;
    height:100%;
}
.container > .filters >.nav >.close-filter{
    height:60px;
 
}
.container > .filters >.nav >.close-filter > a{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    color:white;
    text-align: center;
 
}
.container > .filters >.nav >.close-filter > a:hover{
    font-size: 36px;
}

.container > .filters >.nav >.vert-nav{
    width:100%;
    height:100%;
}
.container > .filters >.nav >.vert-nav > a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}
.container > .filters >.nav >.vert-nav > a:hover {
    background:white;
    color: #111;
    
}
.container > .header{
    position: absolute;
    height:5%;
    width:100%;
    background: #008CBA;
 
}
.container > .header > .right{
    position: absolute;
    right:0px;
    height: 100%;
    
}
.container > .header > .right > a{
    display: inline-block;
    padding-top:15px;
    width:100px;
    height:100%;
    text-align: center;
    background: #008CBA;
    color:white;
}
.container > .header > .right > a:hover{
    text-decoration: none;
 }
.container > .header > .left{
    position: absolute;
    left:0px;
    width:50%;
    height: 100%;
 }
 .container > .header > .left > a{
    display: inline-block;
    width:100px;
    height:100%;
    padding-top: 15px;
    text-align: center;
    background: #008CBA;
    color:white;
 }
 .container > .header > .left > a:hover{
    text-decoration: none;
 }
.container > .main{
    position: absolute;
    top:5%;
    height:90%;
    width:100%;
}
.container > .main > .main-left{
    position: absolute;
    left:0px;
    height:100%;
    width:30%;
    padding: 20px;
    background-color: whitesmoke;

} 
.container > .main > .main-left >.user{
    width:100%;
    background-color: white;

}
.container > .main > .main-left >.user > .user-photo{
    padding: 5px;
 
}
.container > .main > .main-left >.user > .user-photo > h3{
    margin:10px 0px 0px 0px;
    text-align: center;
    color: #008CBA;


}
.container > .main > .main-left >.user > .user-photo > img{
    border-radius: 50%;
    display: block;
    margin: auto;
}
.container > .main > .main-left >.user > .nav{
    
}
.container > .main > .main-left >.user > .nav > a{
    
    display: block;
    text-align: center;
    color:#008CBA;
    padding-top: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    height:50px;
}
.container > .main > .main-left >.user > .nav > a:hover{
    text-decoration: underline;
    
}
.container > .main > .main-right{
    position: absolute;
    padding: 20px;
    right:0px;
    height:100%;
    width:70%;
    background-color: whitesmoke;

} 
.container > .main > .main-right > .right-container{
    background-color: whitesmoke;

}
.container > .main > .main-right > .right-container > .container-description{
    margin-bottom: 10px;
    background-color: white;
    height:50px;
    
}
.container > .main > .main-right > .right-container > .container-description > h4{
    text-align: center;
    margin: 0px;
    color: #008CBA;

}
.container > .main > .main-right > .right-container >.container-list{
    
}

.container > .main > .main-right > .right-container >.container-list > .ad{
    height: 100px;
    max-width:100%;
    margin:10px 0px 10px 0px;
    position: relative;
    background: white;
        
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right{
    position: absolute;
    right:0px;
    width:79%;
    height:100%;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details{
    height:50px;
    padding-top: 10px;
    position: relative;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span{
    display: inline-block;
    height: 100%;
    margin-right: 10px;
    position: absolute;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span.left{
    left:0px;
    height:30px;
    width:100px;
    text-align: center;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span.right{
    right:0px;
    height:30px;
    text-align: center;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right > .ad-details > span.middle{
    height:30px;
    left:100px;
    text-align: center;
    
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links{
    height:50px;
    position: relative;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.right{
    display: inline-block;
    position: absolute;
    right:0px;
    width:100px;
    height:50px;
    padding-top: 15px;
    border: none;
    margin-right: 10px;
    text-align: center;
    color:#008CBA;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.left{
    display: inline-block;
    position: absolute;
    left:0px;
    border: none;
    width:150px;
    padding-top: 15px;
    height:50px;
    margin-right: 10px;
    text-align: center;
    color: #008CBA;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.left:hover,
.container > .main > .main-right > .right-container >.container-list > .ad > .right >.ad-links > a.right:hover{
    text-decoration: underline;
    
}
.container > .main > .main-right > .right-container >.container-list >.ad > .left{
    position: absolute;
    left:0px;
    width:21%;
}
.container > .footer{
    position: absolute;
    bottom: 0px;
    height:5%;
    width:100%;
    background: #008CBA;

}



